/* --- login/ register forms --- */

.forms {
    border: 1px solid rgba(150,150,150,1);
    border-radius: 3px;
    padding: 2em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 
}

.forms h2 {
    /* site title */
     font-size: 1.5em;
    margin: 0;
    line-height: 1em;
    
}

.forms h3 {
    /* page title */
    margin-top: 0.5em;
    font-size: 2em;
    border-bottom: 1px solid rgba(150,150,150,1);
    padding-bottom: .5em;
}

.linkToOther {
    margin-top: 1em;
    font-size: .8em;    
}