/* --- Global -- */

body {
    font-family: 'Quicksand', sans-serif;
}

.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    background-color: white;
}



/* --- login/ register forms --- */

.forms {
    border: 1px solid rgba(150,150,150,1);
    border-radius: 3px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 
}

.forms h2 {
    /* site title */
     font-size: 1.5em;
    margin: 0;
    line-height: 1em;
    
}

.forms h3 {
    /* page title */
    margin-top: 0.5em;
    font-size: 2em;
    border-bottom: 1px solid rgba(150,150,150,1);
    padding-bottom: .5em;
}

.linkToOther {
    margin-top: 1em;
    font-size: .8em;    
}

/* register form */

.demoMode {
    font-size: .8em;
    border-top: 1px solid rgba(150,150,150,1);
    margin-top: 1em;
    padding: 1em 0;
}

.demoMode a {
    font-size: 1.5em;
}

/* error */

.formError {
    color: red;
    font-size: 1em;
}



/* --- welcome screen --- */


#welcomeDiv button {
    width: 9em;
}

#welcomeBlurb {
    font-size: 1.2em;
    color: rgba(150,150,150,1);
    margin-top: 3em;
}


/* --- rating scale --- */
#ratingScale table {
    font-size: 1.2em;
}
#ratingScale td {
    padding: 4px;
}

#ratingScale {
    margin-bottom: 35px;
}


#settingsDiv p {
    margin-top: 1em;
}

#settingsDiv input {
    border: 0;
    border-bottom: 1px solid rgba(150,150,150,.5);
    border-radius: 2px;
    box-shadow: 0 0 0 0 ;
}


