<!--inject navbar-->
<ng-include src="'/app/views/navbar.html'"></ng-include>

<div class="col-xs-12 col-sm-10 col-sm-offset-1" id="homeDiv"></div>

<!--goals-->
<ng-include src="'/app/partials/goals.html'"></ng-include>

<!--locations-->
<ng-include src="'/app/partials/locations.html'"></ng-include>

<!--points-->
<ng-include src="'/app/partials/points.html'"></ng-include>

<!--recent-->
<ng-include src="'/app/partials/recent.html'"></ng-include>

<!--routes-->
<ng-include src="'/app/partials/routes.html'"></ng-include>

<!--
<div class="jumbotron text-center col-xs-12">
    <h1>Home, you are logged in as an awesome person</h1>
    <p>{{currentUser.email}}</p>
    
    <button class="btn btn-danger" ng-click="logOut()">Logout</button>
    
</div>-->
