<!--inject navbar-->
<ng-include src="'/app/views/navbar.html'"></ng-include>

<div class="col-xs-12 col-md-10 col-md-offset-1 " id="homeDiv">
    
    <!--include recent-->
    <ng-include src="'/app/partials/recent.html'"></ng-include>
    <ng-include src="'/app/partials/routes.html'"></ng-include>
    
    </div>

<!--footer with add session-->
<ng-include src="'/app/partials/footer.html'"></ng-include>



<!--
<div class="jumbotron text-center col-xs-12">
    <h1>Home, you are logged in as an awesome person</h1>
    <p>{{currentUser.email}}</p>
    
    <button class="btn btn-danger" ng-click="logOut()">Logout</button>
    
</div>-->
