
<nav class="navbar navbar-default navbar-fixed-top">     
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Climb <small>Like a Boss</small></a>
    </div>

   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-main">
        <li class="active"><a ng-href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Recent</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Metrics <span class="caret"></span></a>
          <ul class="dropdown-menu text-center">
            <li class="text-center"><a href="#">Locations</a></li>
            <li class="text-center"><a href="#">Routes</a></li>
            <li role="separator" class="divider"></li>
            <li class="text-center"><a href="#">Points</a></li>
            <li class="text-center"><a href="#">Goals</a></li>
          </ul>
        </li>  
        <li><a href="#" id="createPostNav">New Session</a></li>  
        
      </ul> 
        
      <div class="navbar-right">
          <!-- when user is logged in -->
        <ul class="nav navbar-nav" ng-show="currentUser">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userProfile.name || userProfile.email}} &nbsp; <i class="fa fa-user" aria-hidden="true"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li class="text-center"><a ng-href="/settings">Account Settings</a></li>
            <li role="separator" class="divider"></li>
            <li class="text-center"><a href="#" ng-click="logOut()">Log Out</a></li>
          </ul>
        </li>
      </ul>
          <!-- when there is no user -->
          <ul class="nav navbar-nav" ng-show="!currentUser">
            <li> <a  ng-href="/register" >Register</a> </li>
            <li> <a  ng-href="/login">Login</a> </li>
          </ul>
          
        </div>
        
        
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>