<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 text-center centerDiv" id="welcomeDiv">
    <h1>Climb <br> <small>Like a Boss</small></h1>
    
    <ul class="list-inline">
        <li>
            <button class="btn btn-default" ng-click="go('/login')">
                Login
            </button>
        </li>
        <li>
            <button class="btn btn-default"  ng-click="go('/register')">
                Register
            </button>
        </li>
    </ul>
    
    <p class="demoMode">or, you can explore the app first... <br><a href="#">Register Later</a></p>
    
    <p id="welcomeBlurb">Log your climbs, track your progress...</p>
</div>