<div class="forms col-xs-10  col-md-4 text-center" id="registerForm">
                <h2 class="text-center">Climb <br> <small>Like a Boss</small></h2>
                <h3 class="text-center">Register</h3>
        <form name="registerForm" novalidate ng-submit="createUser()">
            <div class="form-group" ng-class="{'has-success' : registerForm.email.$valid && registerForm.email.$touched, 'has-error': registerForm.email.$invalid && registerForm.email.$touched}">
                <input name="email" type="email" class="form-control text-center" ng-model="user.email" ng-required="true" placeholder="example@email.com" />
            </div>
            <div class="form-group" ng-class="{'has-success' : registerForm.password.$valid && registerForm.password.$touched, 'has-error': registerForm.password.$invalid && registerForm.password.$touched}">
                <input name="password" type="password" class="form-control text-center" ng-model="user.password" ng-required="true" placeholder="password" />
            </div>
            <div class="form-group" ng-class="{'has-success' : registerForm.verifyPassword.$valid && registerForm.verifyPassword.$touched && user.password == user.verifyPassword, 'has-error': registerForm.verifyPassword.$invalid && registerForm.verifyPassword.$touched && user.password != user.verifyPassword}">
                <input name="verifyPassword" type="password" class="form-control text-center" ng-model="user.verifyPassword" ng-required="true" placeholder="verify password" />
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="registerForm.$invalid || user.password != user.verifyPassword ">Submit</button>
            <p class="text-center linkToOther">Already have an account? <a href="#">Sigin In</a>.</p>
            <p class="demoMode">or, you can explore the app first... <br><a href="#">Register Later</a></p>
        </form>
                <div class="text-center formError">
                    <p ng-show="message">{{message}}</p>
                    <p ng-show="registerForm.email.$invalid && registerForm.email.$touched">Please enter a valid email.</p>
                    <p ng-show="registerForm.password.$invalid && registerForm.password.$touched">Please enter a valid password.</p>
                    <p ng-show="user.password!= user.verifyPassword && registerForm.verifyPassword.$touched">Your passwords do not match.</p>
                </div>
            </div>